.navigation-links-wrapper {
  display: contents;
}
 
.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.navigation-links-navlink1 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
 
.navigation-links-navlink2 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
 
.navigation-links-navlink3 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
 
.navigation-links-navlink4 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 
@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-navlink1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.navigation-links-wrapper-nybx {
  display: contents;
}
 
.navigation-links-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.navigation-links-navlink5 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
 
.navigation-links-navlink6 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
 
.navigation-links-navlink7 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
 
.navigation-links-navlink8 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 
@media(max-width: 767px) {
  .navigation-links-nav1 {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-navlink5 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink6 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink7 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink8 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.project-temp-wrapper {
  display: contents;
}
 
.project-temp-container1 {
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.project-temp-blog-post-card {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  flex-direction: row;
  justify-content: center;
}
 
.project-temp-image {
  width: 500px;
  object-fit: cover;
}
 
.project-temp-container2 {
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.project-temp-text1 {
  margin-bottom: var(--dl-space-space-threeunits);
}
 
.project-temp-container3 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: flex-start;
}
 
.project-temp-text2 {
  color: var(--dl-color-gray-500);
  margin-bottom: var(--dl-space-space-halfunit);
}
 
.project-temp-link {
  color: var(--dl-color-gray-500);
  font-weight: 400;
  text-decoration: none;
}
 

 

 

 

 

 

 

 

 

 

 

 
@media(max-width: 1200px) {
  .project-temp-image {
    width: 578px;
    height: 374px;
  }
  .project-temp-text2 {
    color: var(--dl-color-gray-500);
  }
  .project-temp-link {
    color: var(--dl-color-gray-500);
  }
}
 
@media(max-width: 991px) {
  .project-temp-image {
    width: 50%;
  }
}
 
@media(max-width: 767px) {
  .project-temp-blog-post-card {
    flex-direction: column;
    justify-content: space-between;
  }
  .project-temp-image {
    width: 100%;
  }
  .project-temp-container2 {
    width: 100%;
  }
  .project-temp-text1 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .project-temp-container3 {
    margin-bottom: var(--dl-space-space-twounits);
  }
}

.project-temp-wrapper-5k77 {
  display: contents;
}
 
.project-temp-container4 {
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.project-temp-blog-post-card1 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  flex-direction: row;
  justify-content: center;
}
 
.project-temp-image1 {
  width: 500px;
  object-fit: cover;
}
 
.project-temp-container5 {
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.project-temp-text3 {
  margin-bottom: var(--dl-space-space-threeunits);
}
 
.project-temp-container6 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: flex-start;
}
 
.project-temp-text4 {
  color: var(--dl-color-gray-500);
  margin-bottom: var(--dl-space-space-halfunit);
}
 
.project-temp-link1 {
  color: var(--dl-color-gray-500);
  font-weight: 400;
  text-decoration: none;
}
 

 

 

 

 

 

 

 

 

 

 

 
@media(max-width: 1200px) {
  .project-temp-image1 {
    width: 578px;
    height: 374px;
  }
  .project-temp-text4 {
    color: var(--dl-color-gray-500);
  }
  .project-temp-link1 {
    color: var(--dl-color-gray-500);
  }
}
 
@media(max-width: 991px) {
  .project-temp-image1 {
    width: 50%;
  }
}
 
@media(max-width: 767px) {
  .project-temp-blog-post-card1 {
    flex-direction: column;
    justify-content: space-between;
  }
  .project-temp-image1 {
    width: 100%;
  }
  .project-temp-container5 {
    width: 100%;
  }
  .project-temp-text3 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .project-temp-container6 {
    margin-bottom: var(--dl-space-space-twounits);
  }
}

.project-temp-wrapper-ju53 {
  display: contents;
}
 
.project-temp-container7 {
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.project-temp-blog-post-card2 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  flex-direction: row;
  justify-content: center;
}
 
.project-temp-image2 {
  width: 500px;
  object-fit: cover;
}
 
.project-temp-container8 {
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.project-temp-text5 {
  margin-bottom: var(--dl-space-space-threeunits);
}
 
.project-temp-container9 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: flex-start;
}
 
.project-temp-text6 {
  color: var(--dl-color-gray-500);
  margin-bottom: var(--dl-space-space-halfunit);
}
 
.project-temp-link2 {
  color: var(--dl-color-gray-500);
  font-weight: 400;
  text-decoration: none;
}
 

 

 

 

 

 

 

 

 

 

 

 
@media(max-width: 1200px) {
  .project-temp-image2 {
    width: 578px;
    height: 374px;
  }
  .project-temp-text6 {
    color: var(--dl-color-gray-500);
  }
  .project-temp-link2 {
    color: var(--dl-color-gray-500);
  }
}
 
@media(max-width: 991px) {
  .project-temp-image2 {
    width: 50%;
  }
}
 
@media(max-width: 767px) {
  .project-temp-blog-post-card2 {
    flex-direction: column;
    justify-content: space-between;
  }
  .project-temp-image2 {
    width: 100%;
  }
  .project-temp-container8 {
    width: 100%;
  }
  .project-temp-text5 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .project-temp-container9 {
    margin-bottom: var(--dl-space-space-twounits);
  }
}

.project-temp-wrapper-v61m {
  display: contents;
}
 
.project-temp-container10 {
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.project-temp-blog-post-card3 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  flex-direction: row;
  justify-content: center;
}
 
.project-temp-image3 {
  width: 500px;
  object-fit: cover;
}
 
.project-temp-container11 {
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.project-temp-text7 {
  margin-bottom: var(--dl-space-space-threeunits);
}
 
.project-temp-container12 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: flex-start;
}
 
.project-temp-text8 {
  color: var(--dl-color-gray-500);
  margin-bottom: var(--dl-space-space-halfunit);
}
 
.project-temp-link3 {
  color: var(--dl-color-gray-500);
  font-weight: 400;
  text-decoration: none;
}
 

 

 

 

 

 

 

 

 

 

 

 
@media(max-width: 1200px) {
  .project-temp-image3 {
    width: 578px;
    height: 374px;
  }
  .project-temp-text8 {
    color: var(--dl-color-gray-500);
  }
  .project-temp-link3 {
    color: var(--dl-color-gray-500);
  }
}
 
@media(max-width: 991px) {
  .project-temp-image3 {
    width: 50%;
  }
}
 
@media(max-width: 767px) {
  .project-temp-blog-post-card3 {
    flex-direction: column;
    justify-content: space-between;
  }
  .project-temp-image3 {
    width: 100%;
  }
  .project-temp-container11 {
    width: 100%;
  }
  .project-temp-text7 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .project-temp-container12 {
    margin-bottom: var(--dl-space-space-twounits);
  }
}

.project-temp-wrapper-xnhc {
  display: contents;
}
 
.project-temp-container13 {
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.project-temp-blog-post-card4 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  flex-direction: row;
  justify-content: center;
}
 
.project-temp-image4 {
  width: 500px;
  object-fit: cover;
}
 
.project-temp-container14 {
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.project-temp-text9 {
  margin-bottom: var(--dl-space-space-threeunits);
}
 
.project-temp-container15 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: flex-start;
}
 
.project-temp-text10 {
  color: var(--dl-color-gray-500);
  margin-bottom: var(--dl-space-space-halfunit);
}
 
.project-temp-link4 {
  color: var(--dl-color-gray-500);
  font-weight: 400;
  text-decoration: none;
}
 

 

 

 

 

 

 

 

 

 

 

 
@media(max-width: 1200px) {
  .project-temp-image4 {
    width: 578px;
    height: 374px;
  }
  .project-temp-text10 {
    color: var(--dl-color-gray-500);
  }
  .project-temp-link4 {
    color: var(--dl-color-gray-500);
  }
}
 
@media(max-width: 991px) {
  .project-temp-image4 {
    width: 50%;
  }
}
 
@media(max-width: 767px) {
  .project-temp-blog-post-card4 {
    flex-direction: column;
    justify-content: space-between;
  }
  .project-temp-image4 {
    width: 100%;
  }
  .project-temp-container14 {
    width: 100%;
  }
  .project-temp-text9 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .project-temp-container15 {
    margin-bottom: var(--dl-space-space-twounits);
  }
}

.project-temp-wrapper-zii0 {
  display: contents;
}
 
.project-temp-container16 {
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.project-temp-blog-post-card5 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  flex-direction: row;
  justify-content: center;
}
 
.project-temp-image5 {
  width: 500px;
  object-fit: cover;
}
 
.project-temp-container17 {
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.project-temp-text11 {
  margin-bottom: var(--dl-space-space-threeunits);
}
 
.project-temp-container18 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: flex-start;
}
 
.project-temp-text12 {
  color: var(--dl-color-gray-500);
  margin-bottom: var(--dl-space-space-halfunit);
}
 
.project-temp-link5 {
  color: var(--dl-color-gray-500);
  font-weight: 400;
  text-decoration: none;
}
 

 

 

 

 

 

 

 

 

 

 

 
@media(max-width: 1200px) {
  .project-temp-image5 {
    width: 578px;
    height: 374px;
  }
  .project-temp-text12 {
    color: var(--dl-color-gray-500);
  }
  .project-temp-link5 {
    color: var(--dl-color-gray-500);
  }
}
 
@media(max-width: 991px) {
  .project-temp-image5 {
    width: 50%;
  }
}
 
@media(max-width: 767px) {
  .project-temp-blog-post-card5 {
    flex-direction: column;
    justify-content: space-between;
  }
  .project-temp-image5 {
    width: 100%;
  }
  .project-temp-container17 {
    width: 100%;
  }
  .project-temp-text11 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .project-temp-container18 {
    margin-bottom: var(--dl-space-space-twounits);
  }
}

.project-temp-wrapper-h0i2 {
  display: contents;
}
 
.project-temp-container19 {
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.project-temp-blog-post-card6 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  flex-direction: row;
  justify-content: center;
}
 
.project-temp-image6 {
  width: 500px;
  object-fit: cover;
}
 
.project-temp-container20 {
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.project-temp-text13 {
  margin-bottom: var(--dl-space-space-threeunits);
}
 
.project-temp-container21 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: flex-start;
}
 
.project-temp-text14 {
  color: var(--dl-color-gray-500);
  margin-bottom: var(--dl-space-space-halfunit);
}
 
.project-temp-link6 {
  color: var(--dl-color-gray-500);
  font-weight: 400;
  text-decoration: none;
}
 

 

 

 

 

 

 

 

 

 

 

 
@media(max-width: 1200px) {
  .project-temp-image6 {
    width: 578px;
    height: 374px;
  }
  .project-temp-text14 {
    color: var(--dl-color-gray-500);
  }
  .project-temp-link6 {
    color: var(--dl-color-gray-500);
  }
}
 
@media(max-width: 991px) {
  .project-temp-image6 {
    width: 50%;
  }
}
 
@media(max-width: 767px) {
  .project-temp-blog-post-card6 {
    flex-direction: column;
    justify-content: space-between;
  }
  .project-temp-image6 {
    width: 100%;
  }
  .project-temp-container20 {
    width: 100%;
  }
  .project-temp-text13 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .project-temp-container21 {
    margin-bottom: var(--dl-space-space-twounits);
  }
}

.project-temp-wrapper-dp4z {
  display: contents;
}
 
.project-temp-container22 {
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.project-temp-blog-post-card7 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  flex-direction: row;
  justify-content: center;
}
 
.project-temp-image7 {
  width: 500px;
  object-fit: cover;
}
 
.project-temp-container23 {
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.project-temp-text15 {
  margin-bottom: var(--dl-space-space-threeunits);
}
 
.project-temp-container24 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: flex-start;
}
 
.project-temp-text16 {
  color: var(--dl-color-gray-500);
  margin-bottom: var(--dl-space-space-halfunit);
}
 
.project-temp-link7 {
  color: var(--dl-color-gray-500);
  font-weight: 400;
  text-decoration: none;
}
 

 

 

 

 

 

 

 

 

 

 

 
@media(max-width: 1200px) {
  .project-temp-image7 {
    width: 578px;
    height: 374px;
  }
  .project-temp-text16 {
    color: var(--dl-color-gray-500);
  }
  .project-temp-link7 {
    color: var(--dl-color-gray-500);
  }
}
 
@media(max-width: 991px) {
  .project-temp-image7 {
    width: 50%;
  }
}
 
@media(max-width: 767px) {
  .project-temp-blog-post-card7 {
    flex-direction: column;
    justify-content: space-between;
  }
  .project-temp-image7 {
    width: 100%;
  }
  .project-temp-container23 {
    width: 100%;
  }
  .project-temp-text15 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .project-temp-container24 {
    margin-bottom: var(--dl-space-space-twounits);
  }
}

.project-temp-wrapper-wiv9 {
  display: contents;
}
 
.project-temp-container25 {
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.project-temp-blog-post-card8 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  flex-direction: row;
  justify-content: center;
}
 
.project-temp-image8 {
  width: 500px;
  object-fit: cover;
}
 
.project-temp-container26 {
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.project-temp-text17 {
  margin-bottom: var(--dl-space-space-threeunits);
}
 
.project-temp-container27 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: flex-start;
}
 
.project-temp-text18 {
  color: var(--dl-color-gray-500);
  margin-bottom: var(--dl-space-space-halfunit);
}
 
.project-temp-link8 {
  color: var(--dl-color-gray-500);
  font-weight: 400;
  text-decoration: none;
}
 

 

 

 

 

 

 

 

 

 

 

 
@media(max-width: 1200px) {
  .project-temp-image8 {
    width: 578px;
    height: 374px;
  }
  .project-temp-text18 {
    color: var(--dl-color-gray-500);
  }
  .project-temp-link8 {
    color: var(--dl-color-gray-500);
  }
}
 
@media(max-width: 991px) {
  .project-temp-image8 {
    width: 50%;
  }
}
 
@media(max-width: 767px) {
  .project-temp-blog-post-card8 {
    flex-direction: column;
    justify-content: space-between;
  }
  .project-temp-image8 {
    width: 100%;
  }
  .project-temp-container26 {
    width: 100%;
  }
  .project-temp-text17 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .project-temp-container27 {
    margin-bottom: var(--dl-space-space-twounits);
  }
}

.project-temp-wrapper-h48r {
  display: contents;
}
 
.project-temp-container28 {
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.project-temp-blog-post-card9 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  flex-direction: row;
  justify-content: center;
}
 
.project-temp-image9 {
  width: 500px;
  object-fit: cover;
}
 
.project-temp-container29 {
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.project-temp-text19 {
  margin-bottom: var(--dl-space-space-threeunits);
}
 
.project-temp-container30 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: flex-start;
}
 
.project-temp-text20 {
  color: var(--dl-color-gray-500);
  margin-bottom: var(--dl-space-space-halfunit);
}
 
.project-temp-link9 {
  color: var(--dl-color-gray-500);
  font-weight: 400;
  text-decoration: none;
}
 

 

 

 

 

 

 

 

 

 

 

 
@media(max-width: 1200px) {
  .project-temp-image9 {
    width: 578px;
    height: 374px;
  }
  .project-temp-text20 {
    color: var(--dl-color-gray-500);
  }
  .project-temp-link9 {
    color: var(--dl-color-gray-500);
  }
}
 
@media(max-width: 991px) {
  .project-temp-image9 {
    width: 50%;
  }
}
 
@media(max-width: 767px) {
  .project-temp-blog-post-card9 {
    flex-direction: column;
    justify-content: space-between;
  }
  .project-temp-image9 {
    width: 100%;
  }
  .project-temp-container29 {
    width: 100%;
  }
  .project-temp-text19 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .project-temp-container30 {
    margin-bottom: var(--dl-space-space-twounits);
  }
}

.project-temp-wrapper-wb67 {
  display: contents;
}
 
.project-temp-container31 {
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.project-temp-blog-post-card10 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  flex-direction: row;
  justify-content: center;
}
 
.project-temp-image10 {
  width: 500px;
  object-fit: cover;
}
 
.project-temp-container32 {
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.project-temp-text21 {
  margin-bottom: var(--dl-space-space-threeunits);
}
 
.project-temp-container33 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: flex-start;
}
 
.project-temp-text22 {
  color: var(--dl-color-gray-500);
  margin-bottom: var(--dl-space-space-halfunit);
}
 
.project-temp-link10 {
  color: var(--dl-color-gray-500);
  font-weight: 400;
  text-decoration: none;
}
 

 

 

 

 

 

 

 

 

 

 

 
@media(max-width: 1200px) {
  .project-temp-image10 {
    width: 578px;
    height: 374px;
  }
  .project-temp-text22 {
    color: var(--dl-color-gray-500);
  }
  .project-temp-link10 {
    color: var(--dl-color-gray-500);
  }
}
 
@media(max-width: 991px) {
  .project-temp-image10 {
    width: 50%;
  }
}
 
@media(max-width: 767px) {
  .project-temp-blog-post-card10 {
    flex-direction: column;
    justify-content: space-between;
  }
  .project-temp-image10 {
    width: 100%;
  }
  .project-temp-container32 {
    width: 100%;
  }
  .project-temp-text21 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .project-temp-container33 {
    margin-bottom: var(--dl-space-space-twounits);
  }
}

.projects-container10 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #eef4f7;
}
 
.projects-header {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #eef4f7;
}
 
.projects-navlink1 {
  display: contents;
}
 
.projects-image1 {
  width: 194px;
  height: 47px;
  text-decoration: none;
}
 
.projects-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.projects-burger-menu {
  display: none;
}
 
.projects-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: flex;
}
 
.projects-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
 
.projects-nav2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.projects-container11 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
 
.projects-image2 {
  height: 2rem;
}
 
.projects-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.projects-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
 
.projects-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
 
.projects-icon16 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
 
.projects-icon18 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
 
.projects-banner1 {
  width: 100%;
  height: 233px;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
 
.projects-text10 {
  font-size: 3rem;
  text-align: center;
}
 
.projects-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.projects-link1 {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
 
.projects-link1:hover {
  transform: scale(1.02);
}
 
.projects-link2 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
 
.projects-link2:hover {
  transform: scale(1.02);
}
 
.projects-link3 {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
 
.projects-link3:hover {
  transform: scale(1.02);
}
 
.projects-banner2 {
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: center;
  padding-left: 308px;
  padding-right: 306px;
  flex-direction: column;
  justify-content: flex-start;
}
 
.projects-text11 {
  font-size: 3rem;
  margin-top: var(--dl-space-space-oneandhalfunits);
  text-align: center;
  margin-bottom: var(--dl-space-space-threeunits);
}
 
.projects-text12 {
  font-size: 3rem;
  font-style: normal;
  margin-top: 6px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 6px;
}
 
.projects-container12 {
  height: 596px;
  max-height: auto;
  min-height: auto;
  aspect-ratio: auto;
}
 
.projects-container13 {
  display: contents;
}
 
.projects-banner3 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: 450px;
  padding-right: 450px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: flex-start;
}
 
.projects-text13 {
  font-size: 3rem;
  margin-top: var(--dl-space-space-oneandhalfunits);
  text-align: center;
  margin-bottom: var(--dl-space-space-threeunits);
}
 
.projects-text14 {
  font-size: 3rem;
  font-style: normal;
  margin-top: 6px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 6px;
}
 
.projects-container14 {
  height: 505px;
}
 
.projects-container15 {
  display: contents;
}
 
.projects-text15 {
  font-size: 3rem;
  font-style: normal;
  margin-top: 6px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 6px;
}
 
.projects-container16 {
  height: 477px;
}
 
.projects-container17 {
  display: contents;
}
 
.projects-text16 {
  font-size: 3rem;
  font-style: normal;
  margin-top: 6px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 6px;
}
 
.projects-container18 {
  height: 477px;
}
 
.projects-container19 {
  display: contents;
}
 
.projects-text17 {
  font-size: 3rem;
  font-style: normal;
  margin-top: 6px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 6px;
}
 
.projects-container20 {
  height: 482px;
}
 
.projects-container21 {
  display: contents;
}
 
.projects-text18 {
  font-size: 3rem;
  font-style: normal;
  margin-top: 6px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 6px;
}
 
.projects-container22 {
  height: 511px;
}
 
.projects-container23 {
  display: contents;
}
 
.projects-banner4 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: 250px;
  padding-right: 250px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: flex-start;
}
 
.projects-text19 {
  font-size: 3rem;
  margin-top: var(--dl-space-space-oneandhalfunits);
  text-align: center;
  margin-bottom: var(--dl-space-space-threeunits);
}
 
.projects-text20 {
  font-size: 3rem;
  font-style: normal;
  margin-top: 6px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 6px;
}
 
.projects-container24 {
  height: 625px;
}
 
.projects-container25 {
  display: contents;
}
 
.projects-text21 {
  font-size: 3rem;
  font-style: normal;
  margin-top: 6px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 6px;
}
 
.projects-container26 {
  height: 515px;
}
 
.projects-container27 {
  display: contents;
}
 
.projects-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
 
.projects-navlink2 {
  display: contents;
}
 
.projects-image3 {
  height: 49px;
  object-fit: cover;
  text-decoration: none;
}
 
.projects-icon-group2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.projects-link4 {
  display: contents;
}
 
.projects-icon20 {
  width: 16px;
  height: 25px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
 
.projects-link5 {
  display: contents;
}
 
.projects-icon22 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
 
.projects-link6 {
  display: contents;
}
 
.projects-icon24 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
 
.projects-link7 {
  display: contents;
}
 
.projects-icon26 {
  width: 21px;
  height: 21px;
  text-decoration: none;
}
 
@media(max-width: 1200px) {
  .projects-banner1 {
    height: 217px;
  }
  .projects-text10 {
    font-size: 3rem;
  }
  .projects-link1 {
    color: var(--dl-color-gray-white);
    text-decoration: none;
    background-color: var(--dl-color-gray-black);
  }
  .projects-link2 {
    text-decoration: none;
  }
  .projects-link3 {
    color: var(--dl-color-gray-white);
    text-decoration: none;
    background-color: var(--dl-color-gray-black);
  }
  .projects-banner2 {
    height: 4297px;
    padding-top: 89px;
    padding-left: 108px;
    padding-right: 109px;
    padding-bottom: 45px;
    justify-content: flex-start;
  }
  .projects-text11 {
    font-size: 3rem;
  }
  .projects-text12 {
    font-size: 3rem;
  }
  .projects-container12 {
    height: 618px;
  }
  .projects-banner3 {
    height: 2420px;
    padding-top: 89px;
    padding-left: 290px;
    padding-right: 292px;
    padding-bottom: 45px;
    justify-content: flex-start;
  }
  .projects-text13 {
    font-size: 3rem;
  }
  .projects-text14 {
    font-size: 3rem;
  }
  .projects-container14 {
    height: 851px;
    margin-top: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-twounits);
  }
  .projects-text15 {
    font-size: 3rem;
  }
  .projects-container16 {
    height: 851px;
    margin-top: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-twounits);
  }
  .projects-text16 {
    font-size: 3rem;
  }
  .projects-container18 {
    height: 851px;
    margin-top: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-twounits);
  }
  .projects-text17 {
    font-size: 3rem;
  }
  .projects-container20 {
    height: 859px;
    margin-top: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-twounits);
  }
  .projects-text18 {
    font-size: 3rem;
  }
  .projects-container22 {
    height: 618px;
  }
  .projects-banner4 {
    height: 1114px;
    padding-top: 89px;
    padding-left: 107px;
    padding-right: 107px;
    padding-bottom: 45px;
    justify-content: flex-start;
  }
  .projects-text19 {
    font-size: 3rem;
  }
  .projects-text20 {
    font-size: 3rem;
  }
  .projects-container24 {
    height: 618px;
  }
  .projects-text21 {
    font-size: 3rem;
  }
  .projects-container26 {
    height: 618px;
  }
}
 
@media(max-width: 767px) {
  .projects-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .projects-nav1 {
    display: none;
  }
  .projects-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .projects-banner1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .projects-banner2 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .projects-banner3 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .projects-banner4 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .projects-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .projects-text22 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
 
@media(max-width: 479px) {
  .projects-header {
    padding: var(--dl-space-space-unit);
  }
  .projects-mobile-menu {
    padding: 16px;
  }
  .projects-banner1 {
    height: 267px;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .projects-btn-group {
    flex-direction: column;
  }
  .projects-link2 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .projects-banner2 {
    height: 1346px;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .projects-banner3 {
    height: 1346px;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .projects-banner4 {
    height: 1346px;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .projects-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .projects-image3 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .projects-text22 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
